{% extends "base.html" %}

{% block title %}
    Formulário para Nova Categoria
{% endblock %}

{% block links %}
    <header class="header">
        <ul class="header-links">
            <li><a href="{% url 'categories-form' %}">Cadastrar Categorias</a></li>
        </ul>
    </header>
{% endblock %}

{% block content %}
    <h1>Formulário para Nova Categoria</h1>
    <form method="post" action="{% url 'categories-form' %}">
        {% csrf_token %}
        <label for="id_name">Nome:</label>
        <input type="text" name="name" maxlength="200" required id="id_name">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
