{% extends "base.html" %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    {% for new in news %}
        <div class="news-card">
            <h2 class="news-title">{{ new.title }}</h2>
            <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
            {% if new.image %}
                {% load static %}
                <img src="{% static new.image.url %}" alt="{{ new.title }}" class="news-image">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
