{% extends "base.html" %}

{% block title %}
    Formulário para Nova Notícia
{% endblock %}

{% block links %}
    <header class="header">
        <ul class="header-links">
            <li><a href="{% url 'home-page' %}">Home</a></li>
            <li><a href="{% url 'categories-form' %}">Cadastrar Categorias</a></li>
            <li><a href="{% url 'news-form' %}">Cadastrar Notícias</a></li>
        </ul>
    </header>
{% endblock %}

{% block content %}
    <!-- <h1>Formulário para Nova Notícia</h1> -->
    <form method="post" action="{% url 'news-form' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title">Título:</label>
        <input type="text" name="title" id="id_title" required>
        <label for="id_content">Conteúdo:</label>
        <textarea name="content" id="id_content" required></textarea>
        <label for="id_author">Autoria:</label>
        <select name="author" id="id_author">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <label for="id_created_at">Criado em:</label>
        <input type="date" name="created_at" id="id_created_at" required>
        <label for="id_image">URL da Imagem:</label>
        <input type="file" name="image" id="id_image">
        <label>Categorias:</label>
            {% for category in categories %}
                <div>
                    <input type="checkbox" name="categories" value="{{ category.id }}" id="id_categories_{{ category.id }}">
                    <label for="id_categories_{{ category.id }}">{{ category.name }}</label>
                </div>
            {% endfor %}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
